
.DirectorHomePage_Deliveries {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 1142.5px;
	overflow: auto;
	background: rgb(255, 255, 255);
}

.DirectorHomePage_Deliveries .btnLogout {
	position: absolute;
	right: 50px;
	top: 47.5px;
	width: 200px;
	height: 55px;
	background: rgba(255,255,255,1.00);
	border-radius: 40px;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
}

.DirectorHomePage_Deliveries .btnLogout:hover {
	background: rgb(0, 225, 255);
	transition: 0.25s;
	transform: scale(1.05);
}

.DirectorHomePage_Deliveries .btnEditProfile {
	position: absolute;
	right: 275px;
	top: 47.5px;
	width: 200px;
	height: 55px;
	background: rgba(255,255,255,1.00);
	border-radius: 40px;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
}

.DirectorHomePage_Deliveries .btnEditProfile:hover {
	background: rgb(0, 225, 255);
	transition: 0.25s;
	transform: scale(1.05);
}


.DirectorHomePage_Deliveries .adminPortal {
	position: absolute;
	right: 500px;
	top: 47.5px;
	width: 200px;
	height: 55px;
	background: rgba(255,255,255,1.00);
	border-radius: 40px;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
}

.DirectorHomePage_Deliveries .adminPortal:hover {
	background: rgb(0, 225, 255);
	transition: 0.25s;
	transform: scale(1.05);
}



.DirectorHomePage_Deliveries .NAMEOFDIRECTOR {
	position: absolute;
	left: 50px;
	top: 45px;
	width: 585.98px;
	height: 73.03999999999999px;
	display: flex;
	justify-content: left;
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: Montserrat;
	font-size: 53.12px;
	font-weight: 700;
	line-height: 62.25px;
}

.DirectorHomePage_Deliveries .Header {
	position: absolute;
	top: 0;
	margin-top: 0;
	width: 100%;
	height: 150px;
	background: rgb(224, 64, 64);
}

.DirectorHomePage_Deliveries .Footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 200px;
	background: rgb(0, 0, 83);
}

.form_status {
	position: absolute;
	left: 50px;
	top: 600px;
	width: 250px;
	height: 55px;
	background: rgb(224, 64, 64);
	border-radius: 40px;
	justify-content: center;
	text-align: center;
	color: rgb(255, 255, 255);
	border: 0px;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 700;
}

.form_status:hover {
	background: rgb(0, 0, 83);
	transition: 0.25s;
	transform: scale(1.05);
}

.status {
	position: absolute;
	left: 50px;
	top: 350px;
	width: 250px;
	height: 55px;
	background: rgb(224, 64, 64);
	border-radius: 40px;
	justify-content: center;
	text-align: center;
	color: rgb(255, 255, 255);
	border: 0px;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 700;
}

.status:hover {
	background: rgb(0, 0, 83);
	transition: 0.25s;
	transform: scale(1.05);
}

.popupButton {
	position: absolute;
	left: 50px;
	top: 675px;
	width: 250px;
	height: 55px;
	background: rgb(224, 64, 64);
	border-radius: 40px;
	justify-content: center;
	text-align: center;
	color: rgb(255, 255, 255);
	border: 0px;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 700;
}

.popupButton:hover {
	background: rgb(0, 0, 83);
	transition: 0.25s;
	transform: scale(1.05);
}

.btnChange {
	position: absolute;
	left: 50px;
	top: 275px;
	width: 250px;
	height: 55px;
	background: rgb(224, 64, 64);
	border-radius: 40px;
	justify-content: center;
	text-align: center;
	color: rgb(255, 255, 255);
	border: 0px;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 700;
}

.btnChange:hover {
	background: rgb(0, 0, 83);
	transition: 0.25s;
	transform: scale(1.05);
}

.DirectorHomePage_Deliveries .pnlTable {
	position: absolute;
	left: 50px;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	width: 300px;
	height: 450px;
	background: rgba(255,255,255,1.00);
	border-radius: 40px;
	border: 1px solid rgb(0, 0, 0);
	opacity: 0.9;
}

.DirectorHomePage_Deliveries .TABLE {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 10px;
	width: 300px;
	height: 52.29px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgb(0, 0, 83);
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 400;
	line-height: 31.125px;
	z-index: 1;
}

.DirectorHomePage_Deliveries .form_status {
	position: absolute;
	right: 50px;
	top: 280px;
	width: 200px;
	height: 55px;
	background: rgba(0, 0, 83);
	border-radius: 40px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(256, 256, 256);
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	border: 0px;
}

.DirectorHomePage_Deliveries .form_status:hover {
	background: rgb(0, 225, 255);
	color: rgb(0, 0, 0);
	transition: 0.25s;
	transform: scale(1.05);
}

.DirectorHomePage_Deliveries .popupButton {
	position: absolute;
	right: 50px;
	top: 370px;
	width: 200px;
	height: 55px;
	background: rgba(0, 0, 83);
	border-radius: 40px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(256, 256, 256);
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	border: 0px;
}

.DirectorHomePage_Deliveries .popupButton:hover {
	background: rgb(0, 225, 255);
	color: rgb(0, 0, 0);
	transition: 0.25s;
	transform: scale(1.05);
}

.DirectorHomePage_Deliveries .status {
	position: absolute;
	right: 50px;
	top: 100px;
	width: 200px;
	height: 55px;
	background: rgba(0, 0, 83);
	border-radius: 40px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(256, 256, 256);
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	border: 0px;
}


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(0, 0, 83); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
	font-family: Montserrat;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
	font-family: Montserrat;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#VolunteerHomePage_VolunteerHomePage {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.DirectorHomePage_Deliveries .btnNavbar {
	position: absolute;
	left: 10px;
	top: 200px;
	width: 200px;
	height: 55px;
	background: rgba(0, 0, 83);
	border-radius: 40px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: #FFFFFF;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	border: 0px;
}

.DirectorHomePage_Deliveries .btnNavbar:hover {
	background: rgb(0, 225, 255);
	color: rgb(0, 0, 0);
	transition: 0.25s;
	transform: scale(1.05);
}
