
.sideMenu_sideMenu {
	width: 107px;
	height: 102px;
}
.sideMenu_sideMenu .Group {
	position: absolute;
	left: 32.9560546875px;
	top: 26.112060546875px;
	width: 38.40001186477804%;
	height: 28.80021637561275%;
}
.sideMenu_sideMenu .Group .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}