{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}

<style>
    h1 {
      text-align: center;
      color: rgb(255, 255, 255);
      font-family: Montserrat;
      font-size: 24;
  
  
    }
  
    p {
      text-align: center;
      font-size: 20;
      color: rgb(255, 255, 255);
      font-family: Montserrat;
  
  
    }
  
    body {
      text-align: center;
      
      background-color: rgba(224, 64, 64)
    }
  
  </style>

  <body>
    <h1>Password reset complete</h1>
    <p>Your new password has been set. You can log in now on the <a href="http://localhost:3000/loginpage">login</a>.</p>
  </body>

{% endblock %}