{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<style>
  h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24;


  }

  p {
    text-align: center;
    font-size: 20;
    color: rgb(255, 255, 255);
    font-family: Montserrat;


  }

  body {
    text-align: center;
    
    background-color: rgba(224, 64, 64)
  }

</style>

<body>
  <h1>Check your inbox.</h1>
  <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
</body>
  
{% endblock %}