{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<style>
  h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24;


  }

  p {
    text-align: center;
    font-size: 20;
    color: rgb(255, 255, 255);
    font-family: Montserrat;


  }

  input {
    text-align: center;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    font-size: 14px;
    color: rgba(0, 0, 0, 1.00);
    font-family: Montserrat;

  }

  body {
    text-align: center;
    
    background-color: rgba(224, 64, 64)
  }
</style>

<body>

  <h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

</body>



{% endif %}
{% endblock %}